@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

.text-base {
  letter-spacing: 0.03rem;
}

.text-lg {
  letter-spacing: 0.05rem;
}

.text-ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
