@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.text-base {
  letter-spacing: 0.03rem;
}

.text-lg {
  letter-spacing: 0.05rem;
}
